.container {
    height: 100%;
    width: 100%;
}

.auth-wallpaper-wrapper {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url("/assets/background/auth-background.jpg");
    background-position: center;
    background-size: cover;
}

.auth-form-wrapper {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
