<div class="container">
    <nz-page-header nzTitle="主页"></nz-page-header>
    <div id="container-send-box">
        <app-send-box [user]="user" (publishSuccess)="publishPostSuccess($event)"></app-send-box>
    </div>
    <div id="container-post-list">
        <nz-list [nzDataSource]="postList"
                 [nzItemLayout]="'horizontal'"
                 [nzLoading]="initLoading"
                 [nzRenderItem]="item"
                 [nzLoadMore]="loadMore">
            <ng-template #item let-item>
                <app-post-card [post]="item"></app-post-card>
            </ng-template>
            <ng-template #loadMore>
                <div class="load-more">
                    <button nz-button *ngIf="!loadingMore" (click)="getNextPosts()">加载更多</button>
                </div>
            </ng-template>
        </nz-list>
    </div>
</div>
