.container {
    width: 100%;
    height: 100%;
}

nz-page-header {
    margin-bottom: 1px;
}

#container-user-list {
    margin-bottom: 15px;
}

app-user-item {
    margin-bottom: 2px;
}

#container-tweet-list {
    margin-bottom: 15px;
}

app-tweet-card {
    margin-bottom: 2px;
}
