<div class="container">
    <nz-page-header nzBackIcon nzTitle="Scott Lau"></nz-page-header>
    <div class="user-card">
        <div class="user-background"></div>
        <div class="user-profile">
            <nz-avatar class="user-avatar" [nzSize]="130"
                       [nzSrc]="user ? user.normalAvatar : null"
                       [nzIcon]="!(user && user.normalAvatar) ? 'user' : null"></nz-avatar>
            <button *ngIf="user && isSelf()" nz-button nzType="primary" nzShape="round" nzGhost nzSize="large"
                    class="user-edit-profile">
                编辑资料
            </button>
            <button *ngIf="user && !isSelf() && isFollowing()"
                    nz-button nzType="primary" nzShape="round" nzGhost
                    nzSize="large"
                    class="user-edit-profile" (click)="handleCancelFollow()">
                关注中
            </button>
            <button *ngIf="user && !isSelf() && !isFollowing()"
                    nz-button nzType="primary" nzShape="round" nzGhost
                    nzSize="large"
                    class="user-edit-profile" (click)="handleFollow()">
                关注
            </button>
            <div class="user-info-zone">
                <div class="user-nickname">{{user ? user.nickname : ''}}</div>
                <div class="user-username">@{{user ? user.username : ''}}</div>
                <div class="user-more-info">
                    <span class="user-more-info-item">
                        <i nz-tooltip nzTitle="Forward" nz-icon nzType="environment" theme="outline"></i>
                        中华人民共和国
                    </span>
                    <span class="user-more-info-item">
                        <i nz-tooltip nzTitle="Forward" nz-icon nzType="bulb" theme="outline"></i>
                        出生于{{user ? (user.birthday | date: birthdayFormat) : ''}}
                    </span>
                    <span class="user-more-info-item">
                        <i nz-tooltip nzTitle="Forward" nz-icon nzType="calendar" theme="outline"></i>
                        {{user ? (user.registerDate | date: registerDateFormat) : ''}}加入
                    </span>
                </div>
                <div class="user-relation-info">
                    <a class="user-relation-info-item" [routerLink]="user ? '/' + user.id + '/followings' : ''">
                        <label class="user-relation-count">{{user ? user.followingCount : 0}}</label> 正在关注
                    </a>
                    <a class="user-relation-info-item" [routerLink]="user ? '/' + user.id + '/followers' : ''">
                        <label class="user-relation-count">{{user ? user.followerCount : 0}}</label> 个关注者
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="container-post-list">
        <app-post-card *ngFor="let post of postList" [post]="post"></app-post-card>
    </div>
</div>
