<ng-template>
    <nz-comment [nzAuthor]="post.author.username" [nzDatetime]="post.createDate | date: dateFormat">
        <nz-avatar nz-comment-avatar
                   nzIcon="user"
                   [nzSrc]="post.author.avatar">
        </nz-avatar>
        <nz-comment-content>
            <p>{{post.userId}}</p>
        </nz-comment-content>
        <nz-comment-action>转发</nz-comment-action>
        <nz-comment-action>评论</nz-comment-action>
        <nz-comment-action>
            <i nz-tooltip
               nzTitle="Like"
               nz-icon
               nzType="like"
               [theme]="post.likes > 0 ? 'twotone' : 'outline'"
               (click)="handleLike()">
            </i>
            <span class="count like">{{post.likes}}</span>
        </nz-comment-action>
    </nz-comment>
</ng-template>
