<div class="container">
    <nz-comment [nzAuthor]="post.authorNickname"
                [nzDatetime]="post.createDate | date: dateFormat">
        <nz-avatar nz-comment-avatar
                   [nzSize]="50"
                   [nzSrc]="post.authorAvatar ? post.authorAvatar : null"
                   [nzIcon]="!post.authorAvatar ? 'user' : null"
                   routerLink="/{{post.authorUsername}}">
        </nz-avatar>
        <nz-comment-content>
            <p>{{post.content}}</p>
        </nz-comment-content>
        <nz-comment-action>
            <i nz-tooltip
               nzTooltipTitle="Forward"
               nz-icon
               nzType="retweet"
               nzTheme="outline"
               (click)="handleLike()">
            </i>
            转发<span class="count like">{{post.forwards}}</span>
        </nz-comment-action>
        <nz-comment-action>
            <i nz-tooltip
               nzTooltipTitle="Comment"
               nz-icon
               nzType="message"
               nzTheme="outline"
               (click)="handleLike()">
            </i>
            评论<span class="count like">{{post.comments}}</span>
        </nz-comment-action>
        <nz-comment-action>
            <i nz-tooltip
               nzTooltipTitle="Like"
               nz-icon
               nzType="like"
               nzTheme="outline"
               (click)="handleLike()">
            </i>
            喜欢<span class="count like">{{post.likes}}</span>
        </nz-comment-action>
    </nz-comment>
</div>
