<div class="container">
    <nz-comment [nzAuthor]="post.authorNickname"
                [nzDatetime]="post.createDate | date: dateFormat">
        <nz-avatar nz-comment-avatar
                   nzIcon="user"
                   [nzSize]="50"
                   [nzSrc]="post.authorAvatar"
                   routerLink="/home/{{post.authorId}}">
        </nz-avatar>
        <nz-comment-content>
            <p>{{post.content}}</p>
        </nz-comment-content>
        <nz-comment-action>
            <i nz-tooltip
               nzTitle="Forward"
               nz-icon
               nzType="retweet"
               theme="outline"
               (click)="handleLike()">
            </i>
            转发<span class="count like">{{post.forwards}}</span>
        </nz-comment-action>
        <nz-comment-action>
            <i nz-tooltip
               nzTitle="Comment"
               nz-icon
               nzType="message"
               theme="outline"
               (click)="handleLike()">
            </i>
            评论<span class="count like">{{post.comments}}</span>
        </nz-comment-action>
        <nz-comment-action>
            <i nz-tooltip
               nzTitle="Like"
               nz-icon
               nzType="like"
               theme="outline"
               (click)="handleLike()">
            </i>
            喜欢<span class="count like">{{post.likes}}</span>
        </nz-comment-action>
    </nz-comment>
</div>
