nz-list-item {
    background: white;
    padding-left: 15px;
    padding-right: 15px;
}

nz-list-item-meta ::ng-deep nz-avatar {
    outline: none;
}

nz-list-item-meta nz-avatar ::ng-deep img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}
