<div id="container">
    <span>
        <i id="nav-banner" routerLink="/" nz-icon nzType="twitter" nzTheme="outline"></i>
    </span>
    <ul id="nav-menu-ul" nz-menu nzMode="vertical">
        <li *ngFor="let menu of menuItems" class="nav-menu-item" nz-menu-item nz-tooltip nzTooltipPlacement="right"
            [nzSelected]="menu === initSelectedMenu" [routerLink]="menu.link">
            <i *ngIf="menu.icon; else avatar" nz-icon nzType="{{menu.icon}}"></i>
            <ng-template #avatar>
                <nz-avatar nzIcon="user" nzSize="small" nzSrc="{{menu.img}}"></nz-avatar>
            </ng-template>
            <span>{{menu.title}}</span>
        </li>
        <li class="nav-menu-item" nz-menu-item nz-tooltip nzTooltipPlacement="right"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <i nz-icon nzType="menu"></i>
            <span>更多</span>
        </li>
    </ul>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="logout.emit()">退出登录</li>
        </ul>
    </nz-dropdown-menu>
</div>
